{% extends 'base.html' %}
{% block content %}
    <h1>Register</h1>

    {% if password_not_match %}
        <p>passwords do not match </p>
    {% endif %}

    {% if user_exists %}
        <p>User already exists</p>
    {% endif %}

    {% if success %}
        <p>User "{{ user }}" was successfully created. Please <a href="/login?next=/chat/">log in</a>. </p>
    {% endif %}

    <form method="POST" action="/register/">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}">
        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Username</label>
            </div>
        </div>

        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password1" name="password1">
                <label class="mdl-textfield__label" for="password1">Password</label>
            </div>
        </div>

        <div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password2" name="password2">
                <label class="mdl-textfield__label" for="password2">Repeat Password</label>
            </div>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="submit">
            Register
        </button>
    </form>
{% endblock %}